<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>test</title>
  <link href="/styles/reset.css" rel="stylesheet" type="text/css" />
  <link href="/styles/todo/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page">
  <div class="header box">
    <h1><a href="/">test</a></h1>
  </div>

  <div class="main box">
  <%- body %>
  </div>
  
  <div class="foot">
    <a href="http://cnodejs.org/">CNode</a>
    <br />
    修改自 <a href="http://simple-is-better.com/news/309">simple-template</a>
    from <a href="http://simple-is-better.com/">Vision</a>
  </div>
</div>
<script src="/js/lib/jquery-2.1.3.min.js"></script>
</body>
</html>